/* *********************************** */
/* BELOW 1050px */
/* *********************************** */

@media (max-width: 65em) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .restaurant-container {
        display: flex;
        overflow-x: scroll;
    }

    .restaurant-container::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .restaurant-image-link {
        width: 14em;
    }

    .grid--3-cols {
        grid-template-columns: 1fr;
    }

    .section-container {
        max-width: 50em;;
    }

    .hero-search-container {
        width: 90%;
    }

    .divider {
        height: 22%;
    }

    .download-content {
        padding: 12rem 2.4em;
        justify-content: flex-end;
    }

    .download-image {
        width: 8em;
    }
}

/* *********************************** */
/* BELOW 750px */
/* *********************************** */

@media (max-width: 46em) {
    .hero-video {
        width: 30rem;
    }

    .grid--2-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }

    .download-divider {
        height: 6rem;
    }

    .download-interface-container {
        order: -1;
        height: 50em;
        transform: translateY(-2em);
        z-index: -1;
    }

    .download-content {
        padding: 0rem 2.4em;
    }

    .download-image {
        display: none;
    }

    .careers-card-image {
        width: 20em;
    }

    .location-image {
        width: 20em;
    }

    .nav-image {
        width: 14em;
        display: block;
    }

    .nav-image img {
        width: 100%;
    }

    .footer-grid {
        gap: 3em;
    }
}

/* *********************************** */
/* BELOW 600px */
/* *********************************** */

@media (max-width: 37em) {
    .nav-list {
        padding: 3.2rem 4rem;
    }

    .nav-image {
        width: 8em;
    }

    .hero-input-text {
        display: none;
    }
}